<h1>Dashboard</h1>

<%# TODO add error message %>

<%= form_with model: @shout do |form|%>
    <%= form.text_field :body, placeholder: "Shout here", required: true %>
    <%= form.submit "Submit" %>
<% end %>

<%= render @shouts %>